<!-- Creat By Boxcn.github.com 盒子的博客 -->
<header class="post-header">
  <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
  <p class="post-meta">
	{% if page.date %}
    <i class="fa fa-calendar"></i>
    {{ page.date | date: "%Y" }}年{{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日
    <i class="space"></i>
	<i class="fa fa-pencil"></i>
	<a class="post-category" href="{{ site.blog.url }}">{{ site.author.name }}</a>
	{% endif %}
	{% if page.categories %}
		<i class="fa fa-tag"></i>
		<a class="post-category" href="/categories.html#{{ page.categories }}">{{ page.categories }}</a>
	{% endif %}
	{% if page.tags %}
		<i class="fa fa-paperclip"></i>
		{% for tag in page.tags %} 
    	<a class="post-category" href="/tags.html#{{ tag }}">{{ tag }}</a>
		{% endfor %}
	{% endif %}
	
	<hr id="line"/>
  </p>
</header>
{% if page.index == true %}
	<div class="post-main">
	{{ content }}
	</div>{% else %}
 <table width="100%" height="100%">
	<div class="post-main">
	{{ content }}
	</div>
   <tr>
	<div id="license">
		<td>
			<!-- Creat By Boxcn.github.com 盒子的博客 -->
			<b>版权声明：这篇文章来自『<a href="{{ site.blog.url }}" target="_blank">{{ site.blog.name }}</a>』，欢迎转载，转载请保留出处！本博客文章部分来源于网络，若有侵权，请原作者告知，定会立即删除。联系博主：<a class="email" href="mailto:{{ site.author.email }}" title="给我写信" target="_blank"><i class="fa fa-envelope-o"></i></b>
			<br><b>文章名称： <a href="{{ site.blog.url }}{{ page.url }}" target="_blank">{{ page.title }}</a></b>
			<br><b>作者： <a href="{{ site.blog.url }}" target="_blank">{{ site.author.name }}</a></b>
			<br><b>本文地址：<a href="{{ site.blog.url }}{{ page.url }}" target="_blank">{{ site.blog.url }}{{ page.url }}</a></b>
		</td>
	</div>
   </tr>
  </table>{% endif %}
 
<div class="pagination">

	{% if page.previous %}
	<a class="pagination-item newer" href="{{ BASE_PATH }}{{ page.previous.url }}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{ page.previous.title }}</a>
	{% elsif page.index != true %}
	<span class="pagination-item newer">上一篇&nbsp;<i class="fa fa-chain-broken"></i></span>
	{% endif %}
	{% if page.next %}
	<a class="pagination-item older" href="{{ BASE_PATH }}{{ page.next.url }}">{{ page.next.title }}&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
	{% elsif page.index != true %}
	<span class="pagination-item older">下一篇&nbsp;<i class="fa fa-chain-broken"></i></span>
	{% endif %}

</div>
{% if page.index != true %}
	<!--搜狐高速版，加载速度快，使用前需测试页面的兼容性-->
	<div id="SOHUCS"></div>
	<script>
	  (function(){
		var appid = 'cyryUTASG',
		conf = 'prod_e1b13ada8607af85ff8b96c89add5ca8';
		var doc = document,
		s = doc.createElement('script'),
		h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
		s.type = 'text/javascript';
		s.charset = 'utf-8';
		s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
		h.insertBefore(s,h.firstChild);
		window.SCS_NO_IFRAME = true;
	  })()
	</script> 
	<div id="caipiao">
		<!-- caipiao.163.com share code -->
		<a target="_blank" href="http://caipiao.163.com/invite.html?p=20150106999751&t=p17"><img src="http://img3.126.net/caipiao/promote/960x60.jpg?110111"/></a>
	</div>
{% endif %}
